.login-wrapper{
    padding-top: 80px;
    padding-left: 20px;
}
.login-wrapper1{
    padding-top: 80px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    padding: 10px;
    text-align: left;
    font-family: arial;
  }