<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Are you sure you want to delete</label>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Yes</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">No</button>
  </div>
</ng-template>



<mat-toolbar color="primary" class="app-header">
  <div><a target="_blank" class="positronx" routerLink="/dashboard" routerLinkActive="active">Job Portal</a>

    <button type="submit" routerLink="/addqualification" routerLinkActive="active" mat-button>Add Qualification</button>
    <button type="submit" routerLink="/addexperince" routerLinkActive="active" mat-button>Add Experience</button>
  </div>
  <span class="nav-tool-items">
    <a mat-button routerLink="/changepassword" routerLinkActive="active">Change Password</a>
    <button type="submit" mat-button (click)="onSubmit();">Logout</button>
    <!-- <a mat-button routerLink="/login" routerLinkActive="active" (ngSubmit)="onSubmit()" >Logout</a> -->
  </span>
</mat-toolbar>
<div *ngIf="loading==true" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner diameter="80" color="accent"></mat-spinner>
</div>
<div *ngIf="loading==false" style="display: flex;">
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="left" style="flex-grow: 1">
    <div class="profile">
      <header>
        <h1>Your Profile</h1>
      </header>


      <main>
        <dl>
          <dt>First Name</dt>
          <dd>{{jobseeker.firstName}}</dd>
          <dt>Last Name</dt>
          <dd>{{jobseeker.lastName}}</dd>
          <dt>Phone</dt>
          <dd>{{jobseeker.phone}}</dd>
          <dt>Address</dt>
          <dd>{{jobseeker.address}}</dd>
          <dt>Email</dt>
          <dd>{{jobseeker.email}}</dd>
          <dt>Total Experience</dt>
          <dd>{{jobseeker.totalExperience}}</dd>
          <dt>Expected Salary</dt>
          <dd>
            {{jobseeker.expectedSalary}}</dd>
          <dt>Date of Birth</dt>
          <dd>{{jobseeker.dateOfBirth |date :'mediumDate'}}</dd>
        </dl>
      </main>
      <div class="mb-1">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="update()" class="btn btn-primary" type="button">
            Update Profile </button>
        </div>
      </div>
    </div>
  </div>
  <div class="login-wrapper1" fxLayout="row" fxLayoutAlign="left" style="flex-grow:1">
    <div class="profile1">
      <h1>Your Qualifications</h1>

      <p-table [value]="qualificationList" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>University</th>
            <th>Year of Completion</th>
            <th>Grade/Score</th>

            <th>Options</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-qualification>
          <tr>

            <td>{{qualification.qualificationName}}</td>
            <td>{{ qualification.university}}</td>
            <td>{{ qualification.yearOfCompletion | date:'yyyy'}}</td>
            <td>{{ qualification.gradeOrScore}}</td>

            <td>
              <a pButton pRipple type="button" [routerLink]="['/updatequalification',qualification.id]"
                icon="pi pi-user-edit" class="p-button-rounded"></a>
              <a pButton pRipple type="button" (click)="open1(content,qualification.id)" style="margin-left: 20px;"
                icon="pi pi-trash" class="p-button-rounded"></a>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="paginatorleft">
            <a [routerLink]="['/add-user']" class="btn btn-primary">Add New</a>
        </ng-template> -->
      </p-table>
      <h1 style="margin-top: 10px;">Your Experiences</h1>
      <p-table [value]="experienceList" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Comapny Name</th>
            <th>Start year</th>
            <th>End Year</th>
            <th>Url</th>
            <th>Designation</th>
            <th>JobDescription</th>

            <th>Options</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-experience>
          <tr>

            <td>{{experience.companyName}}</td>

            <td>{{ experience.startYear | date:'yyyy'}}</td>
            <td>{{ experience.endYear | date:'yyyy'}}</td>
            <td>{{ experience.comapanyUrl}}</td>
            <td>{{ experience.designation}}</td>
            <td>{{ experience.jobDescription}}</td>

            <td>
              <a pButton pRipple type="button" [routerLink]="['/updateexperience',experience.id]" icon="pi pi-user-edit"
                class="p-button-rounded"></a>
              <a pButton pRipple type="button" (click)="open(content,experience.id)" style="margin-left: 20px;"
                icon="pi pi-trash" class="p-button-rounded"></a>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="paginatorleft">
          <a [routerLink]="['/add-user']" class="btn btn-primary">Add New</a>
      </ng-template> -->
      </p-table>

    </div>
  </div>
</div>