<mat-toolbar color="primary" class="app-header">
  <div><a  target="_blank" class="positronx" routerLink="/dashboard" routerLinkActive="active" >Job Portal</a>
    <button *ngIf="profileadded==true" type="submit" routerLink="/employerprofile" routerLinkActive="active"   mat-button>Profile</button>
    <button *ngIf="profileadded==true" type="submit" routerLink="/addvacancy" routerLinkActive="active"   mat-button>Add Vacancy</button>
  </div>
  <span class="nav-tool-items">
    <a mat-button routerLink="/changepassword" routerLinkActive="active" >Change Password</a>
    <button type="submit" mat-button (click)="onSubmit();">Logout</button>
    <!-- <a mat-button routerLink="/login" routerLinkActive="active" (ngSubmit)="onSubmit()" >Logout</a> -->
  </span>
</mat-toolbar>
<div class="login-wrapper" >
  <div *ngIf="profileadded==true"><app-vacancysubmitted></app-vacancysubmitted> </div>

  <div *ngIf="profileadded==false"><app-addemployerprofile></app-addemployerprofile></div>
  </div>
