<div *ngIf="loading==true" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner diameter="80" color="accent"></mat-spinner>
</div>
<div *ngIf="loading==false" class="container">
    <h1>Add your details</h1>
    <form [formGroup]="jobseekerform" autocomplete="off">
        <div class="mb-1">
            <label for="name" class="form-label">First Name*</label>
            <div class="input-group has-validation">
                <input type="text" #name [ngClass]="{'form-control': true, 'is-invalid': jobseekerform.get('firstName')?.invalid &&
                (jobseekerform.get('firstName')?.dirty || jobseekerform.get('firstName')?.touched)}" id="firstName"
                    name="firstName" formControlName="firstName" placeholder="Firs tName">
                <div class="invalid-feedback">
                    Please fill correct info.
                </div>
            </div>
        </div>
        <div class="mb-1">
            <label for="name" class="form-label">Last Name*</label>
            <div class="input-group has-validation">
                <input type="text" #name [ngClass]="{'form-control': true, 'is-invalid': jobseekerform.get('lastName')?.invalid &&
                (jobseekerform.get('lastName')?.dirty || jobseekerform.get('lastName')?.touched)}" id="lastName"
                    name="lastName" formControlName="lastName" placeholder="Last Name">
                <div class="invalid-feedback">
                    Please fill correct info.
                </div>
            </div>
        </div>

        <div class="mb-1">
            <label for="mobile" class="form-label">Phone*</label>
            <div class="input-group has-validation">
                <input type="number" min="0" oninput="validity.valid||(value='')" [maxlength]="10" [minlength]="10"
                    [ngClass]="{'form-control': true, 'is-invalid': jobseekerform.get('phone')?.invalid &&
                (jobseekerform.get('phone')?.dirty || jobseekerform.get('phone')?.touched)}" id="phone" name="phone"
                    formControlName="phone" placeholder="Phone">
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="mb-1">
            <label for="name" class="form-label">Address*</label>
            <div class="input-group has-validation">
                <input type="text" #name [ngClass]="{'form-control': true, 'is-invalid': jobseekerform.get('address')?.invalid &&
                (jobseekerform.get('address')?.dirty || jobseekerform.get('address')?.touched)}" id="address"
                    name="address" formControlName="address" placeholder="Address">
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="mb-1">
            <label for="name" class="form-label">Total experience in years*</label>
            <div class="input-group has-validation">
                <input type="number" min="0" oninput="validity.valid||(value='')" #name [ngClass]="{'form-control': true, 'is-invalid': jobseekerform.get('totalExperince')?.invalid &&
                (jobseekerform.get('totalExperince')?.dirty || jobseekerform.get('totalExperince')?.touched)}"
                    id="totalExperince" name="totalExperince" formControlName="totalExperince"
                    placeholder="Total Experince">
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="mb-1">
            <label for="name" class="form-label">Expected Salary*</label>
            <div class="input-group has-validation">
                <input type="number" min="0" oninput="validity.valid||(value='')" #name [ngClass]="{'form-control': true, 'is-invalid': jobseekerform.get('expectedSalary')?.invalid &&
                (jobseekerform.get('expectedSalary')?.dirty || jobseekerform.get('expectedSalary')?.touched)}"
                    id="expectedSalary" name="expectedSalary" formControlName="expectedSalary"
                    placeholder="Expected Salary">
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="mb-1">
            <label for="StartYear" class="form-label">Date of Birth*</label>
            <p-calendar [showIcon]="true" [maxDate]="date" inputId="icon" formControlName="dateofBirth" [ngClass]="{'form-control': true, 'is-invalid': jobseekerform.get('dateofBirth')?.invalid &&
            (jobseekerform.get('dateofBirth')?.dirty || jobseekerform.get('dateofBirth')?.touched)}"></p-calendar>
        </div>





        <div class="mb-1">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button (click)="save()" [disabled]="jobseekerform.invalid" class="btn btn-primary" type="button">
                    Submit Profile </button>

            </div>
        </div>


    </form>
</div>